<footer id="footer">
<div class="inner">
    <ul class="copyright">
        <li>&copy; <%= Time.now.year %>. All rights reserved</li><li>Design: <%= link_to 'HTML5 UP', "http://html5up.net" %></li>
    </ul>
</div>
</footer>

